<ngx-charts-polar-chart
  class="dashboard-unit"
  [view]="view"
  [results]="graphDataWD"
  [scheme]="colorScheme"
  [legend]="showLegend"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [autoScale]="true">
</ngx-charts-polar-chart>

<ngx-charts-bar-vertical
  class="dashboard-unit"
  [view]="viewBar"
  [results]="graphDataWS"
  [scheme]="colorScheme"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabelBar"
  [yAxisLabel]="yAxisLabelBar">
  <!--(select)="onSelect($event)">-->
</ngx-charts-bar-vertical>


