
<!--header-->
<div class="container" id="container-header">
  <div id="container-header-menu">
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item *ngFor="let mode of modes" (click)="onModeChange(mode)">{{mode}}</button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon id="icon-header-menu">menu</mat-icon>
    </button>
  </div>
    <h1 id="title">Weather Guardian</h1>
</div>

<div>
  <div>
    <!--map and forecast-->
    <div class="container" id="container-map-forecast">
      <app-map></app-map>

      <!--forecast-->
      <div class="bottom-space">
        <app-forecast></app-forecast>
      </div>
    </div>

    <!--dashboard-->
    <div class="container" id="container-dashboard">
      <app-dashboard></app-dashboard>
    </div>
  </div>
</div>
<div id="container-footer">
  <p id="title-footer">Hector Garcia Production</p>
</div>
