md-grid-tile {
  background-color: transparent;
  -webkit-animation-name: component_animate; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: component_animate;
  animation-duration: 2s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes component_animate {
  from {opacity: 0.0;}
  to {opacity: 1.0;}
}

/* Standard syntax */
@keyframes component_animate {
  from {opacity: 0.0;}
  to {opacity: 1.0;}
}

#header-container {
  height: 80px;
}

#title {
  color:#ffb3ff;
  font-family: 'Monoton', cursive;
  font-size:48pt;
  background-blend-mode:overlay;
  margin-top: 15px;
  text-align:center;
}

#grid-title {
  font-family: 'Monoton', cursive;
  color: white;
  text-align:center;

}

#map {
  -webkit-animation-name: component_animate; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: component_animate;
  animation-duration: 2s;
}
