<mat-grid-list [cols]="col" rowHeight="1:1" gutterSize="10" style="margin:0">
  <mat-grid-tile-header>
    <h1 class="grid-title bottom-space">Dashboard</h1>
    <div class="bottom-space">
      <mat-form-field>
        <mat-select placeholder="Construct Your Dashboard" (onClose)="onUnitSelection(unitSelected)" #unitSelected [disabled]="!isLocationSet">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let functionalUnit of functionalUnitsList" [value]="functionalUnit" #option>{{functionalUnit}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-grid-tile-header>
  <mat-grid-tile
    #gridTile
    *ngFor="let tile of tiles; let i = index;"
    [colspan]="tile.cols"
    [rowspan]="tile.rows"
    [style.background]="tile.color">

    <mat-sidenav-container id="container-tile-side-nav">
      <mat-sidenav #sidenav>
        <button mat-button color='warn'(click)="onRemoveUnit(i)">Remove</button>
      </mat-sidenav>

      <button mat-icon-button id="button-tile-menu" (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>
      <ng-template host></ng-template>
    </mat-sidenav-container>

  </mat-grid-tile>
</mat-grid-list>
